{% extends 'LibrosApp/padre.html' %}
       {% block contenido1 %}
        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>¿QUÉ ES MUNDO LIBRO?</h2>
                        <p class="lead mb-5">
                            Somos una tienda digital que cumplimos todas sus necesidades como lectores,
                            otorgamos libros en formato PDF y también les damos la opción de comprar
                            su libro favorito y nosotros lo envíamos a cualquier agencia de mensajería.
                            <a href="https://unsplash.com/">Unsplash</a>
                            !
                        </p>
                        <a class="btn btn-dark btn-xl" href="#services">SERVICIOS</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="content-section bg-primary text-white text-center" id="services">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading">
                    <h3 class="text-secondary mb-0">Servicios</h3>
                    <h2 class="mb-5">EN DIGITAL - EN FÍSICO</h2>
                </div>
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
                        <h4><strong>EN TODOS LOS DISPOSITIVOS</strong></h4>
                        <p class="text-faded mb-0">Les damos la oportunidad de tener tu propio Ebook
                            sin haber comprado uno, nosotros les envíamos los libros en formato PDF
                            mediante correo electronico.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
                        <h4><strong>ESCRITORES</strong></h4>
                        <p class="text-faded mb-0">Tenemos una sección para nuestros escritores, si les
                            gusta escribir aquí pueden escribir todos sus escritos.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
                        <h4><strong>FAVORITOS</strong></h4>
                        <p class="text-faded mb-0">
                            Tus libros o escritos favoritos en un apartado de guardados
                            <i class="fas fa-heart"></i>
                            ¡AGREGA!
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-mustache"></i></span>
                        <h4><strong>¿DUDAS?</strong></h4>
                        <p class="text-faded mb-0">¿Tienes alguna duda? CONTÁCTANOS</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Callout-->
        <section class="callout">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mx-auto mb-5">
                    BIENVENIDOS A
                    <em>NUESTRA</em>
                    PÁGINA WEB ¡DISFRUTEN!
                </h2>
            </div>
        </section>
        <!-- Call to Action-->
        <section class="content-section bg-primary text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">REGISTRARSE COMO: LECTORES - ESCRITORES
                </h2>
                <a class="btn btn-xl btn-light me-4" href="#!">Escritores</a>
                <a class="btn btn-xl btn-dark" href="#!">Lectores</a>
            </div>
        </section>
        {% endblock %}
        
                