{% extends 'LibrosApp/padreform.html' %}

{%load static%}

{% block contenidoform %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
</head>
<body>
    <form class="caja-form" action="" method="post">{% csrf_token %}
        {{registrar.as_p}}
        <button class="boton" type="submit">Registrar</button> 
    </form>
</body>
</html>

{% endblock %}

