{% extends 'LibrosApp/padreform.html' %}

{%load static%}

{% block contenidoform %}
    {% for libro in libros %}
        <div class="result-fondo">
            <p><h4>{{libro.titulo}}</h4></p>
            {% if libro.imagen %}
                <p><img class="imagenPost" src="{{libro.imagen}}" alt="No Hay imagen"></p>
            {% endif %}
            <p>categoría {{libro.genero}}</p>
            <p>Año: {{libro.fecha_creacion}}</p>
            <p>Descrición: {{libro.descripcion}}</p>
            <div class="btns" aria-label="Basic outlined example">
                <button type="button" class="btn-lib"><a class="btn-tag" href="{% url 'libros' %}">Regresar</a></button>
            </div>
        </div>
    {% endfor %}
{% endblock %}