{% extends 'LibrosApp/padre.html' %}

{%load static%}

{% block contenido1 %}

<p><h4>{{nombreLibro.titulo}}</h4></p>
{% if nombreLibro.imagen %}
    <p><img class="imagenPost" src="{{nombreLibro.imagen.url}}" alt="No Hay imagen"></p>
{% endif %}
<p>categoría {{nombreLibro.categoría}}</p>
<p>Año: {{nombreLibro.fecha_punlicacion}}</p>
<p>Descrición: {{nombreLibro.descripcion}}</p>
<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary btn-sm"><a href="{% url 'Posteos' %}" style="color: rgb(162, 213, 255); text-decoration: none;">Regresar</a></button>
</div>


{% endblock %}